<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>add post</title>
    <style>
      form {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <form action="">
      <input type="text" placeholder="eneter name post" />
      <textarea name="" id="" cols="30" rows="30"></textarea>
      <button>add post</button>
    </form>
  </body>
</html>
