<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>posts</title>
  </head>
  <body>
    <main>
      <article>
        <header>05.05.021</header>
        <h1>POST TITLE</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et
          distinctio reiciendis facere neque aut vel nisi, velit consequuntur
          adipisci hic quia iste dicta dolorem atque quo vitae dolorum qui
          deserunt.
        </p>
      </article>
    </main>
  </body>
</html>
