<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <header><%- include('./partials/nav.ejs') %></header>
    <main>
      <article>
        <h1>PERSONAL BLOG</h1>
        <p>Build with Node.js Express, EJS, MongoDB</p>
      </article>
    </main>
  </body>
</html>
